.rule-wrapper
  position: relative
  .r-wrapper
    text-align left;
    min-width: 1660px;
    .content-wrapper
      margin-top -30px;
      padding-top 5px;
      .line
        position: absolute;
        left: 0;
        right: 0;
        border-top 2px solid #f1f1f1
      .split
        height: 30px;
        padding-left: 8px;
        text-align left;
        line-height 30px;
        color: #323232;
        font-size: 16px;
        background: #f5f5f5
        font-family: "微软雅黑", Arial;
        &:nth-child(2)
          margin-top 5px;
      .back-split
        width 100%;
        box-sizing border-box;
        background: #f5f5f5;
        color: #323232;
        font-size: 16px;
        line-height 33px;
        padding-left 15px;
        border-radius 4px;
      .other
        display: flex;
        justify-content: flex-start;
        align-items center;
        font-size: 16px;
        font-weight 700
        padding 20px 0;
        .module-wrapper
          margin-left: 40px;
          .module-input
            width 240px;
            color: #747474;
            padding 10px;
            border 1px solid #e4e8ed;
            border-radius 2px;
            font-size: 14px;
        .extend
          display: flex;
          justify-content: flex-start;
          align-items center;
          margin-left: 40px;
          .extend-input
            margin-left: 10px;
            height 30px;
            border-radius 4px;
            border 1px solid #e4e8ed;
            text-align center;
          .btn-extend
            margin-left: 15px;
      .one
        display flex;
        margin-top: 8px;
        box-sizing border-box;
        padding 0;
        .one-item
          width 50%
          border-radius 4px;
          border: 1px solid #e8ecf0;
          .module-content
            padding 14px 0;
            .item
              display flex;
              justify-content flex-end;
              &:nth-child(1)
                border-bottom 1px solid #f1f1f1;
              .item-left
                box-sizing border-box
                padding 28px 0 28px 24px;
                width: 35%;
                .txt
                  font-size: 16px;
                  color: #666666;
                  font-weight 700;
                .item-input
                  width: 96px;
                  height 32px;
                  border: 1px solid #e4e8ed;
                  border-radius 2px;
                  color: #ff6c00;
                  text-align center;
                  font-size 14px;
              .item-right
                display flex;
                box-sizing border-box;
                width: 65%;
                justify-content flex-end;
                .item-table
                  border-collapse: collapse;
                  border-spacing: 0;
                  text-align: center;
                  table-layout: automatic
                  margin-right: 10px;
                  .item-title
                    color: #73879c;
                    font-size 14px;
                    height 28px;
                  .item-row
                    color: #0184ff;
                    font-size: 12px;
                    height: 36px;
                    .first
                      color: #666666;
                      font-size: 14px;
                    .have-border
                      height 36px;
                      width: 72px;
                      border: 1px solid #e4e8ed;
        .right, .two-left
          //margin-left 10px;
          .module-content
            display flex;
            justify-content flex-end;
            .left-item
                box-sizing border-box
                padding 28px 0 28px 24px;
                width: 35%;
                height 42px;
                line-height 42px;
                .txt
                  font-size: 16px;
                  color: #666666;
                  font-weight 700;
                .item-input
                  width: 96px;
                  height 32px;
                  border: 1px solid #e4e8ed;
                  border-radius 2px;
                  color: #ff6c00;
                  text-align center;
                  font-size 14px;
            .item
              width 65%;
              display flex;
              &:nth-child(1)
                border: 0;
              .item-table
                border-collapse: collapse;
                border-spacing: 0;
                text-align: center;
                table-layout: automatic
                margin-right: 10px;
                .item-title
                  color: #73879c;
                  font-size 14px;
                  height 28px;
                .item-row
                  color: #0184ff;
                  font-size: 12px;
                  height: 36px;
                  .first
                    display flex;
                    color: #666666;
                    font-size: 14px;
                    justify-content flex-end;
                    align-items center;
                    height 37px;
                    .txt
                      color: #666666;
                      font-size: 16px;
                    .row-input
                      width 70px;
                      height 32px;
                      font-size 14px;
                      color: #ff6c00;
                      text-align center;
                      border 1px solid #e4e8ed;
                      //border-width 1px;
                      //border-color: #e4e8ed;
                      border-radius 2px;
                      margin 0 2px;
                  .have-border
                    border: 1px solid #e4e8ed;
                    height 36px;
                    width: 77px;
        .left
          margin-right 10px;
      .remarks
        display: flex;
        justify-content center;
        margin 5px 0;
        .title
          font-size 16px;
          color: #666666;
          font-weight: 700;
        .remarks-box
          width: 90%;
          height: 85px;
          padding: 10px;
          resize: none;
          border: 1px solid #e4e8ed;
          border-radius: 2px;
          font-size: 16px;
          color: #666666;
      .btn-close
        position: absolute;
        left: 0;
        right: 0;
        height: 51px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background #f5f5f5;
        margin-top: -2px;
        display flex;
        justify-content center;
        align-items center;
        .agree-btn
          margin-right 30px;
        .close-btn
          margin-left: 30px;
