.main_control_wrapper
  padding 20px 15px 20px;
  background: #ffffff;
  min-width 600px;
  .header
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    padding-bottom 20px;
    border-bottom 2px solid #1e9fff;
    .txt
      display: flex;
      align-items: flex-end;
      width: 580px;
      .txt
        display inline-block;
        font-size: 20px;
        line-height 20px;
      .total-txt
        color: #fc9409;
      .had-txt
        color: #83d45d
      .have-not-txt
        color: #3dacff
      .txt-item
        height: 20px;
    .buttons
      width 530px;
      display: flex;
      justify-content: space-between;
      .main-button
        //...
