.wrapper
  position: relative;
  width 100%;
  height 100%;
  .header
    height: 60px;
    background: #1e9fff;
    .logo
      position: absolute;
      //margin 0 auto;
      left 20px;
      top: 7px
    .info
      position: absolute
      right 50px;
      height 100%;
      .user
        display inline-block
        //height 100%;
        padding 17px 50px;
        line-height: 16px;
        .avatar
          width: 32px;
          height 32px;
          border-radius 16px;
          vertical-align middle
        .username
          font-size: 14px;
          vertical-align middle
          color: #fff
      .btn-exit
        display inline-block
        padding 17px 0;
        cursor: pointer;
        .text
          line-height: 16px;
          font-size: 16px;
          vertical-align: middle
          color: #fff
        .icon
          vertical-align: middle
          color: #fff
  .main-wrapper
    .aside
      height 100%;
    //position: absolute;
    //left 0;
    //bottom 0;
    //height:
