.nva-wrapper

  height: 100%;
  background: #3e4a58;
  color: #fff;
  line-height: 60px;
  min-width 200px;
  a
    text-decoration:none;
    color:#fff;
  .triangle
    position: absolute;
    vertical-align: middle
    right 0;
    top 25px;
    width: 0px;
    height: 0px;
    border: 8px solid #666;
    border-left-color:transparent;
    border-right-color: #eef1f5;
    border-bottom-color:transparent;
    border-top-color:transparent;
  .menu-item
    //sss
  .main-menu
    position: relative;
    font-size: 16px;
    background: #323a45
    &.on
      background: #5e7e96
      border-left 2px solid #1e9fff
    span
      cursor: pointer;
  .sub-menu
    position: relative;
    font-size: 14px;
    &.on
      background: #4e6477
      border-left 2px solid #1e9fff
    span
      display inline-block;
      position: relative;
      left: 30px;
      cursor: pointer;

