.accompany-wrapper
  position: relative
  //min-width: 1980px;
  .d-wrapper
    text-align left;
    min-width: 1450px;
    .content-wrapper
      margin-top -30px;
      padding-top 5px;
      .line
        position: absolute;
        left: 0;
        right: 0;
        //margin-top -30px;
        border-top 2px solid #f1f1f1

      .split
        height: 30px;
        padding-left: 8px;
        text-align left;
        line-height 30px;
        color: #323232;
        font-size: 16px;
        background: #f5f5f5
        font-family: "微软雅黑", Arial;
        &:nth-child(2)
          margin-top 5px;
      .base-info
        display: flex;
        justify-content: space-between;
        padding: 8px 0 8px 40px;
        font-size: 16px;
        font-weight 700
        .avatar
          width: 100px;
          height: 100px;
          background: rgb(0, 160, 220)
          color: #000;
          text-align center;
          line-height: 100px;
        .info
          flex-grow 1
          padding-left: 24px;
          display: flex;
          flex-direction column;
          justify-content space-between;
          .number
            :nth-child(3)
              margin-left 50px;
            .index
              margin-left: 15px;
              font-weight 400;
            .id
              margin-left: 15px;
              font-weight 400;
          .nick-name
            padding-top: 10px;
            .name
              padding: 4px;
              border-radius 4px;
              border 1px solid #e4e8ed;
              margin-left: 15px;
              height: 25px;
          .other
            display: flex;
            justify-content: space-between;
            align-items center;
            .sex
              display: flex;
              justify-content: flex-start;
              .sex-radio
                margin-left: 15px;
            .extend
              display: flex;
              justify-content: flex-start;
              align-items center;
              .extend-input
                margin-left: 10px;
                height 30px;
                border-radius 4px;
                border 1px solid #e4e8ed;
                text-align center;
              .btn-extend
                margin-left: 15px;

      .select-wrapper
        display flex;
        justify-content: flex-start;
        padding-top 10px;
        padding-bottom 12px;
        border-bottom: 2px solid #f1f1f1;
        .title:nth-child(3)
          padding-left: 30px;
        .title
          width: 100px;
          text-align right;
          line-height 36px;
          color: #666666;
          font-size: 16px;
          font-weight 700;
        select
          height: 30px;
          width: 160px;
          margin-left: 20px;
          padding: 0 0 0 50px;
          border-radius 4px;
          border 1px solid #e4e8ed;
          font-size: 16px;
          text-align center;
          &:before
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border: 10px solid transparent;
            border-top-color: #ccc;
            top: 14px;
            right: 10px;
            cursor: pointer;
          &:focus
            outline: none;
